/* Custom scroll for the navigation menu */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #257BFB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #257BFB;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vessel-list-btn {
  background-color: #e3f2fd;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  background-color: #257BFB;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}


